@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic,700italic);

*{
  margin: 0;
  padding: 0;
  font-family: Quicksand, sans-serif;
}

/*Top Bar*/
nav{
  width: 100%;
  height: 60px;
  background-color: #33003b;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
/*"Design University" design*/
nav p a{
  font-family: Quicksand, sans-serif;
  color: seashell;
  font-size: 40px;
  line-height: 70px;
  float: left;
  padding: 0px 20px;
  text-decoration: none;
}
nav p a:hover{
  font-family: Quicksand, sans-serif;
  text-decoration: none;
  color: #99003b;
}
/*format of the top bar*/
nav ul {
  float:left;
}
/*format of dropdown menu removing bullets*/
nav ul li {
  font-family: Quicksand, sans-serif;
  float:left;
  list-style: none;
  position: relative;
}
/*font formatting of dropdown menu*/
nav ul li a{
  display: block;
  color: seashell;
  font-size: 18px;
  padding: 22px 14px;
  text-decoration: none;
  text-align: left;
  line-height: 35px;

}
nav ul li ul a:hover{
  color: #99003b;
}

/*dropdown menu*/
nav ul li ul{
  display: block;
  position: absolute;
  background-color: #33003b;
  padding: 0px;
  margin: 0px;
  border-radius: 0px 0px 10px 10px;
  opacity: 0.8;
  position: fixed;
  z-index: 999;
}
/*making dropdown menu round edged*/
nav ul li ul li {
  width: 180px;
  border-radius: 4px;
}
/*hovering effects for dropdown menu*/
nav ul li ul li a{
  display: none;
}
nav ul li:hover ul a {
  display: block;

}
nav ul li ul li a:hover{
  background-color: #f3f3f3;
}

body{
  text-align: left;
  background-color: seashell;
}
h1{
  padding-top: 0px;
  padding-left: 20px;
  font-size: 50px;
  text-align: center;
}
.Intro{
  font-family: Ubuntu, "sans-serif";
  font-size: 24px;
  color: seashell;
  padding: 30px;
  margin: 20px;
  background-color: mediumslateblue;
  border-radius: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.IntroLorem{
  padding-top: 30px;
  font-size: 20px;
}

.Prof{
  color: seashell;
  padding: 30px;
  background-color: #66003b;
  margin: 20px;
  border-radius: 10px;
  font-size: 25px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.Ada{
  padding-top: 30px;
  font-size: 24px;
}

.Ada p{
  padding-top: 20px;
  font-size: 20px;
}
